@*<h1 style="background-color:beige; color:black;text-align:center">Welcome to E-learning(Summer Courses)</h1>
*@
<h1 class="alert alert-success text-center">
    Welcome to E-learning(Summer Courses)
</h1>